.topbar {
    padding: 0;
    margin-left: -8px;
    height: 5rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1100;
    background-color: rgba(7,20,38, .5);
}

.topbar .topbar-inner {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem 0 1rem;
}

.topbar .topbar-inner .topbar-content {
    display: flex;
    align-items: center;    
}

/* Big-Calendar */
.rbc-calendar {
    height: 85vh;
}

.rbc-toolbar {
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.rbc-off-range-bg {
    background: rgba(119, 113, 113, 0.5);
}

.rbc-today {
    background: rgba(149, 232, 253, 0.733);
}

.p-menuitem-spacer {
    min-width: 0;
    height: 1px;
    margin: 0;
    padding: 0;
    background-color: transparent;
}